@(user: Option[models.User], userForm: Form[forms.AccumulationForm.AccumulationFormData], socialProviders: com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry, counts: (Long,Long,Long,Long) = (0L,0L,0L,0L))(implicit request: RequestHeader, messages: Messages)

@import helper._
@import java.util.Calendar

@main("Silhouette - Home", user) {
    @user.map { u =>
        @helper.form(action = routes.AccumulationController.save()) {
          @helper.CSRF.formField
          <input type="hidden" id="year" name="year" value="@Calendar.getInstance().get(Calendar.YEAR)">
          <input type="hidden" id="month" name="month" value="@(Calendar.getInstance().get(Calendar.MONTH)+1)">
          <input type="hidden" id="day" name="day" value="@Calendar.getInstance().get(Calendar.DAY_OF_MONTH)">
          <input type="hidden" id="mantraId" name="mantraId" value="1">
          <input type="hidden" id="userId" name="userId" value="@u.userID">
          <input type="hidden" id="gatheringId" name="gatheringId" value="1">
          @helper.inputText(userForm("count")) 
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </div>
        }    
    }.getOrElse {
        <H1>Not Signed In</H1>
    }
    <h2>Total = @counts._1 This Year = @counts._2 This Month = @counts._3 Today = @counts._4</h2>
})
